.table-container {
    text-align: left;
    margin-top: 20px;
  }
  
.editable-table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}
  
.editable-table th, .editable-table td {
    border: none;
    padding: 10px;
    text-align: left;
}

.editable-table th {
    border-bottom: 3px solid black;
}

.editable-table td {
    border-bottom: 2px dotted black;
}

.editable-table + div {
    padding-top: 15px;
}