.indicatorHeadline {
    font-size: 1.5rem;
    font-weight: 400;
    position: relative; /* Ensure the pseudo-element is positioned relative to the h3 */
    padding-bottom: 10px; /* Add some space between the text and the line */
    margin-bottom: 10px; /* Optional: space below the h3 */
  }
  
.indicatorHeadline::after {
    content: ""; /* Pseudo-element to create the line */
    position: absolute;
    left: 0;
    bottom: 0; /* Position the line at the bottom of the h3 */
    width: 80%; /* Make the line span the entire width */
    height: 2px; /* Thickness of the line */
    background-color: var(--font-color);; /* Color of the line */
}

.indicatorText {
    font-weight: 800;
    font-size: 1.5rem;
}