.tabNav {
    overflow-x: scroll;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
  
.tabList::-webkit-scrollbar {
    display: none;
}

.tabList {
    width: fit-content;
    min-width: 100%;
    display: flex;
    gap: .5em;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid var(--font-color);
    color: var(--font-color);
}
  
.tabList li {
    display: block;
    margin-bottom: -2px;
}

.tabBtn {
    font: inherit;
    padding: 0.75em 1em;
    background-color: transparent;
    border: 2px solid var(--font-color);
    border-width: 0 0 2px;
    cursor: pointer;
    color: inherit;
    white-space: nowrap;
}

.tabBtn:not(.tab-btn--active):hover {
    color: var(--font-color);
}
  
.tabBtnActive {
    color: var(--basic-1st-color);
    border-color: var(--basic-1st-color);
}

.tabPanel {
    margin-top: 1em;
    padding: 1em;
    background-color: var(--tab-panel-bg-color);
    border-radius: .5em;
}