.table {
    border-collapse: collapse;
    font-weight: 300;
}

.row {
    border-bottom: 3px dotted black;
}


.row td {
    padding: 10px;
}

.boldedRow {
    font-weight: bold;
    border-top: 5px solid black;
}