.itemsBottomRight {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}

.tab.active {
    border-bottom: 3px solid #007BFF;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
}

.tab-content.active {
    display: block;
}