@font-face {
    font-family: "Rubik";
    src: url("Rubik.ttf");
}

body {
    background-color: rgba(219, 215, 215, 0.667);
    font-family: "Rubik";
}

.row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    border-radius: 8px;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.25), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.card-body-plotly {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card-body-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.card-body-title {
    font-size: medium;
    margin-bottom: 10px;
}