:root {
  --main-bg-color: #F8F7F2;
  --secondary-bg-color: #463F3A;
  --font-color: black;
}


body {
  margin: 0px;
}

.main {
  display: flex;
  height: 100vh;
}


/* ================================= */
/* PAGE CONTENT  */
/* ================================= */
.content {
  background-color: var(--main-bg-color);
  flex-grow: 1;
}
