.mainContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5px;
  row-gap: 5px;
}

.gridItem {
  margin: 5px;
}

.dummyGridItem {
  background-color: coral;
  height: 200px;
  width: 200px;
}

.span2Columns {
  grid-column: span 2;
}

.gridItem h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0%;
}

.gridItem h1 + p {
  font-weight: 200;
  margin-top: 0.2rem;
}

.gridItem h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0%;
}

.row {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  padding-right: 20%;
}
